<% include partials/header %>
	<div class="myform">
		<h1>Register</h1>
		<form action="/register" method="POST">
			<div>
				<input type="text" name="username" placeholder="Username">	
			</div>
			<div>
				<input type="password" name="password" placeholder="Password">	
			</div>
			<button type="submit" class="btn btn-outline-dark">Register</button>
		</form>
	</div>
<% include partials/footer %>